.main {
    margin-left: 150px;
    /* margin-left: 80px; */

    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    font-size: 15px;
    font-weight: 500;
    padding: 1rem;
}
