.main {
    margin-left: 80px;

    display: flex;
    justify-content: space-between;
    /* color: white; */
    font-size: 15px;
    font-weight: 500;
    padding: 1rem;
    /* background-color: #171717; */

    /* for testing: */
    /* background-color: blue;  */
}