/* 
Do not alter or delete:
*/
.pageContent > section {
    margin: 2rem;
}

/*
Enter in your css below:
*/

.tableBar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.tableBarChild {
    margin-left: 0.5rem;
    padding: 0.3rem;
}

.title {
    margin-bottom: 1rem;
}

.paginationBar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.paginationButtons {
    padding: 0.3rem;
    margin: 0.1rem;
}
