/* 
Do not alter or delete:
*/
.pageContent > section {
    margin: 2rem;
}

/*
Enter in your css below:
*/

.headerRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.tableBar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.tableBarChild {
    margin-left: 0.5rem;
    padding: 0.3rem;
}

.title {
    margin-bottom: 1rem;
}

.paginationBar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.paginationButtons {
    padding: 0.3rem;
    margin: 0.1rem;
}

.editDeleteColumn {
    display: flex;
    justify-content: space-evenly;
}

.addEquipBtn {
    background-color: lightblue;
    /* background: none; */
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.5rem;
    /* font: inherit; */
}
.addEquipBtn:hover {
    border: 1px solid black;
    background-color: lightgray;
}

.editBtn {
    color: lightgray;
}

.deleteBtn {
    color: lightcoral;
}
